
@{
    ViewBag.Title = "AdminLogin";
}


<div class="container">
    <h2>Admin Login</h2>
    <form method="post" action="login">

        <div class="form-control">
            <input type="text" class="col-md-12" name="Name" id="Name" placeholder="Enter User Name " required="" />
        </div>

        <div class="form-control">
            <input type="text" class="col-md-12" name="Password" id="Password" placeholder="Enter User Password " required="" />
        </div>

        <div class="form-control">
            <input type="submit" value="Sign IN" class="col-md-12 btn btn-warning"/>
        </div>

    </form>


</div>